body {
    background-color: #f0f0f0;
}

h1 {
    color: #555;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}
